@{
    ViewBag.Title = "Reglas del juego";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<h2 class="mb-3">Reglas del juego</h2>
<ul>
    <li>Palabras de 5 a 10 letras (tildes y Ñ permitidas).</li>
    <li>Máximo 5 intentos fallidos.</li>
    <li>Tiempo por nivel: 90s / 60s / 30s.</li>
</ul>
<p class="mt-3">
    <a class="btn-cloud" href="@Url.Action("Crear","Partidas")">¡Jugar ahora!</a>
</p>
